:root{
    --clr-bg : #ffffff;
    --clr-txt : #000000;
    --clr-a: #deff00;
    --clr-hover: #deff00;
    --clr-selected: #deff00;

    --font : 'Indie Flower','gaegu',cursive;
    --border :#000000 1px solid;
    --padding1 : 0 70px;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
a, a:visited, a:link, a:active {
	color: #333;
	text-decoration: none;
    cursor: pointer;
}
ul, ol, dl, menu, dir, li, dt, dd {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-style: normal;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
	vertical-align: baseline;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
html,body{
    width: 100%;
    position: relative;
    /* overflow: scroll; */
}