/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
a, a:visited, a:link, a:active {
	color: #333;
	text-decoration: none;
    cursor: none;
}
ul, ol, dl, menu, dir, li, dt, dd {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-style: normal;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
	vertical-align: baseline;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
html,body{
    width: 100%;
    position: relative;
    /* overflow: scroll; */
}
html,body, label{cursor: none;}