
@import url(root.css);
@import url(reset.css);

body{
    /* font-family: var(--font); */
    font-family:
        verdana,
        geneva,
        helvetica,
        arial,
        sans-serif;
    font-size: 0.8em;
    line-height: 135%;
    background-color: var(--clr-bg);
    color: var(--clr-txt);
    display: flex;
    flex-direction: column;
    width: 100%;
}
main{
    display: flex;
    flex-direction: row;
}
header{
    padding: var(--padding1);
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom : #000000 1px solid;
    /* background-color: var(--whiteblur); */
    /* backdrop-filter: var(--blur); */
    background-color: #fff;
    position: relative;
}
header h1 span{
    font-size: 1.5em;
    line-height:normal;
}
/* ++++++++++++++++++++ */
.breadcrumb {
    padding: 0 5px;
    background-color: var(--clr-a);
    border-bottom: var(--border);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;

}
.breadcrumb[data-state="open"] {
    transform: translateY(100%);
}
.breadcrumb[data-state="closed"] {
    transform: translateY(-100%);
}
.breadcrumb .arrowtoggle {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(calc(100% + 1px));
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    color: #fff;
}
.breadcrumb .arrowtoggle:hover{
    cursor: pointer;
}
/* ++++++++++++++++++++ */
.breadcrumb,#nav{
    line-height: 135%;
    transition: transform 0.3s ease;
}
/* ++++++++++++++++++++ */
#nav{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -2;
    display: flex;
    /* height: 100%; */
    border-bottom : #000000 1px solid;
    padding: var(--padding1);
    background-color: var(--whiteblur);
    backdrop-filter: var(--blur);
    transform: translateY(100%);    
}
.nav-items {padding: 0 5px;}
.nav-items:hover {background-color: var(--clr-a);}

.nav2{display: none;}

/* 활성화된 nav item 스타일 */
.nav-item-active {background-color: var(--clr-a);}
/* JS-driven nav styles */

/* ++++++++++++++++++++ */
.contents {
    display: none;
    padding: var(--padding1);
    width: 100%;
    height: 100%;

}
.contents a{
    padding: 0 5px;
}
.contents a:hover{
    text-decoration-line: underline;
}
/* ++++++++++++++++++++ */
/* 메인 섹션 */
.develope-22{display: none;}
.blender-22{display: none;}
.audio{display: none;}






/* ++++++++++++++++++++ */
@media screen and (max-width:530px) {
    /* body{
        font-size: small;
    } */
    main{
        display: block;
        padding: 0;
    }
    header,
    #nav,
    .contents{
        width: 100%;
        /* padding: 0 28px; */
    }
    header{
        /* padding-left: 30px; */
        line-height: 180%;
        max-height: 96px;
    }
    /* header,
    #nav{
        border-bottom: var(--border);
    } */
}