/* 내 정보 섹션 */
#identify-container {
    z-index: 1000;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateY(-100%);
    transition: all 0.3s ease;
}
#identify {
    padding: 0 5px;
    background-color: var(--whiteblur);
    background-color: #fff;
    backdrop-filter: var(--blur);
    border: var(--border);
}
.identify-section {margin-bottom: 10px; border-bottom: 1px solid #eee; max-width: 500px;}
.identify-section:last-of-type {border-bottom: none;}
.identify-section-title {font-weight: 600;}
.identify-section-content { padding: 5px 0; color: #333;}
.identify-toggle{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(1px,100%);
    cursor: pointer;

    aspect-ratio: 1 / 1;
    --identify-toggle-size: 1rem;
    height: calc(var(--identify-toggle-size) + 0.5rem);
    font-size: var(--identify-toggle-size);
    color: #fff;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
}
.identify-toggle:hover {background: #333;}
@media screen and (max-width: 530px) {
    #identify{border: none;}
    #identify-container {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        transform: translateY(-100%);

    }
    #identify-container[aria-expanded="true"] {
        width: 100%;
        height: 100dvh;
        display: flex;align-items: center;justify-content: center;
        background-color: #fff;
    }
    #identify-container[aria-expanded="true"] .identify-toggle {
        transform: translate(0,0)
    }
    #identify {
        width: 100%;
    }
    .identify-section {max-width: none;}
    .identify-toggle {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 2rem;
        height: 2rem;
    }
    
}