.cursorpoint {
    pointer-events: none;
    position: fixed;
    z-index: 100;
    
    width: 3px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    transition: transform 0.1s ease;
    display: none;
}
.cursortext {
    position: fixed;
    z-index: -10;
    transform: translate(0, 1.5rem);
    pointer-events: none;
    /* white-space: nowrap; */
    overflow: hidden;
}
